body{
    background-color:rgb(78, 125, 143);
    
}
header h1{
    text-align: center;
    
}
header a{
    position: relative;
    bottom: 50px;
    right: 90px;
    margin-right:30px ;
    float: right;
}
nav{
    
    float: left;
    display: block;
    width:200px;
    height: 750px;
    overflow: hidden;
}
nav a:hover{
    color:blue;

}
a:hover{
    border-color:blue;
    cursor: pointer;
    
}
a{
    left:30px;
}
.one{
    display: block;
    height: 750px;
    width: 200px;
    float: left;
    
}
.one h2 {
    text-align: center;
}
.one small{
    margin-left: 50px;
}
.one button{
    margin-left:50px;
}
.one ul{

    
    list-style: none;
}
.one p{
    float: right;

}
.one pre{
    float: right;
}
.one img{
    float: left;
    height: 100px;
    width: 100px;
}
.one a {
    display: block;
    margin-top: 30px;
    width: 600px;
    height:150px;
    border-style: groove;
    padding: 50px;
    display: block;
    float: left;
    text-align: right;
   
}
.menu{
    display: none;
    position:absolute;
}
button:hover{
    cursor: pointer;

}
.two{

    position: relative;
    left:150px;
    float:right;
    display: block;
    height: 750px;
    width: 700px;
    align-content: center;
    border-style: groove;

}
.two h3{
    text-align:center;
    
}
.two img{
    position: relative;
    left:250px;
   
   
}
footer{
    width:100%;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e2cfcf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
  

  .show {display:block;}
  #myDropdown {
    
    width: 160vh;
    height:700px;
  }
  #myDropdown a{
    position: relative;
    left: 50px;
  }

footer{
    text-align: center;
    height: 100px;
    display: block;
    margin-top: 800px;

}
footer input{
    width:70%;
   
    margin: 0 auto;
}





